body {
    margin: 10px;
}

.clickable {
    cursor: pointer;
}

#builderFrame {
    width: 100%;
    height: 100%;
}

.glyphicon {
    cursor: pointer;
}

.menu-icon {
    font-size: 20px;
}

.glyphicon-play {
    color: limegreen;
}